@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(129,34,203,1) 0%, rgba(9,119,121,0.3881885517879027) 56%, rgba(0,212,255,1) 100%); 
  min-height: 100vh;
  text-align: center;
  font-family: 'Monserrat', sans-serif;
}

h1{
  font-family: 'Nabla', cursive;
  font-size: 10em;
  margin-top: 100px;
}